
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.main-container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.heading{
    font-family: "Roboto";
    color: black;
    font-weight: 650;
    font-size: 45px;
    text-align: center;
}
.image-size{
    height: 300px;
    width: 300px;
    margin-left: 20px;
}

.flex-container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-container{
    border-radius: 5px;
    background-color: white;
    font-weight: 700;
    font-size: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;
    font-family: "Roboto";
}

.timer-digits{
    margin: 0px;
}

.buttons-container{
    display: flex;
    flex-direction: row;
}

.button{
    height: 40px;
    width: 110px;
    border-radius: 7px;
    font-weight: 600;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    font-family: "Roboto";
    border-width: 0px;
    cursor: pointer;
    color: white;
    
}

.button1{
    background-color: red;
}
.button2{
    background-color: green;
}
.button3{
    background-color: yellow;
}
